/* user card min */

.wrapper {
    width: fit-content;
    height: auto;
    border: 1px solid salmon;
    padding: 9px;
    cursor: pointer ;
    transition: all .2s ease-out;
}

.wrapper:hover {
    background-color: #d4f1ed;
}