.wrapper {
    width: 1120px;
  height: 46px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin: 64px auto 0 auto;
}

.wrapper > img {
  position: absolute;
  top: 12px;
  left: 1072px;
}

.wrapper > input {
  width: 1120px;
  height: 46px;
  text-align: center;
  font-size: calc(48px / 3 * 2);
  border: 1px solid #8189a3;
  /* border-color: #8189a3; */
  border-radius: 48px;
  color: #8189a3;
}
